<div class="jumbotron">
  <h1 class="display-4">WELCOME TO MY BLOG!</h1>
  <%= link_to image_tag("railslogo.png", alt: "Rails logo", width: "600px", height: "250px"),"https://rubyonrails.org/" %>
  <hr>
  <%= link_to "Sign up now !", new_user_registration_path, {:role=>'button', :class => "btn btn-primary btn-lg"} %>
</div>