<%= form_for(@article) do |f| %>
  <div class="field">
  <%= f.text_area :content, placeholder: "Compose new article...", style: "width: 100%;" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary", style: "width: 100%;" %>
  <span class="image">
  <%= f.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true %>
  </span>
<% end %>